@import 'material';
@import 'dialog-polyfill';

body {
	font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}


/* Base */
img {
    max-width: 100%;
}
.page-content {
    max-width: 600px;
    margin: auto;
    width: 100%;
}
.mdl-cell {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* Header */
.mdl-layout-title {
    font-stretch: condensed;
    font-style: italic;
    font-weight: bold;
}

/* Body */

.mdl-layout__content {
    display: flex;
    flex-wrap: wrap;
}

.mdl-layout__tab-panel,
.mdl-textfield {
    width: 100%;
}

.file__label {
	display: block;
	text-align: center;
	margin: 8px 0;
}
.file__input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.submit-quote {
    width: 100%;
    display: block;
}


/* Footer */
.mdl-mini-footer {
	margin-top: 2em;
    width: 100%;
    align-self: flex-end;
}


/* Login Screen */
.login {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: #0068AB;
    color: #fff;
    padding: 1em;
    opacity: 1;
    visibility: visible;
    transition: all 200ms ease;
    img {
        display: block;
        margin: auto;
    }
    .mdl-textfield__input {
        border-bottom-color: rgba(255,255,255,.5);
    }
    .mdl-textfield__label {
        color: rgba(255,255,255,1);
    }
    .is-focused .mdl-textfield__label {
        color: rgba(255,255,255,.75);
    }
    .mdl-button--raised {
        background: #fff;
    }
}
.userRegistered .login {
    opacity: 0;
    visibility: hidden;
    transition: all 200ms ease;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    display: flex;
    flex-wrap: wrap;
}

.history-title {
    width: 100%;
    font-size: 1.5em;
    margin-bottom: .5rem
}
.history-ditributor {
    margin-right: 1rem;
}
.history-ditributor,
.history-user {
    font-size: .8rem;
}