{
  "name": "Accuform-Tag-PWA",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "scss/styles.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/styles.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}"
    },
    {
      "path": "js/main.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "js",
      "scss"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "js/main.js",
      "imports": [
        "js/vendor/dexie.js",
        "js/vendor/material.js",
        "js/vendor/dialog-polyfill.js"
      ]
    },
    {
      "path": "scss/styles.scss",
      "imports": [
        "scss/_material.scss",
        "scss/_dialog-polyfill.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes",
    "inc",
    "img",
    "fonts"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "sftp",
    "remotePath": "/home/collectquotesave/app.collectquotesave.com",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "app.collectquotesave.com",
      "port": 22,
      "usePrivateKey": false,
      "username": "collectquotesave",
      "password": "aR2ZYUaX",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": ".editorconfig",
        "ctime": "2017-01-17T14:16:12.375Z",
        "mtime": "2017-01-16T20:07:45.985Z",
        "size": 191
      },
      {
        "file": ".gitattributes",
        "ctime": "2017-01-17T14:16:12.376Z",
        "mtime": "2017-01-16T20:07:45.999Z",
        "size": 12
      },
      {
        "file": ".gitignore",
        "ctime": "2017-01-17T14:16:12.376Z",
        "mtime": "2017-01-16T20:07:46.013Z",
        "size": 137
      },
      {
        "file": ".htaccess",
        "ctime": "2017-01-25T15:35:55.567Z",
        "mtime": "2017-01-25T15:35:55.567Z",
        "size": 39687
      },
      {
        "file": "android-chrome-192x192.png",
        "ctime": "2017-01-17T14:39:06.826Z",
        "mtime": "2017-01-17T14:39:06.826Z",
        "size": 4612
      },
      {
        "file": "android-chrome-512x512.png",
        "ctime": "2017-01-17T14:39:06.836Z",
        "mtime": "2017-01-17T14:39:06.836Z",
        "size": 12742
      },
      {
        "file": "apple-touch-icon.png",
        "ctime": "2017-01-17T14:39:06.846Z",
        "mtime": "2017-01-17T14:39:06.846Z",
        "size": 4465
      },
      {
        "file": "browserconfig.xml",
        "ctime": "2017-01-17T14:39:06.859Z",
        "mtime": "2017-01-17T14:39:06.859Z",
        "size": 231
      },
      {
        "file": "crossdomain.xml",
        "ctime": "2017-01-17T14:16:12.344Z",
        "mtime": "2017-01-16T20:07:46.028Z",
        "size": 603
      },
      {
        "file": "css/styles.css",
        "ctime": "2017-01-17T20:45:46.484Z",
        "mtime": "2017-01-17T20:45:46.484Z",
        "size": 144776
      },
      {
        "file": "css/styles.css.map",
        "ctime": "2017-01-17T20:45:46.475Z",
        "mtime": "2017-01-17T20:45:46.475Z",
        "size": 55221
      },
      {
        "file": "favicon-16x16.png",
        "ctime": "2017-01-17T14:39:06.887Z",
        "mtime": "2017-01-17T14:39:06.887Z",
        "size": 803
      },
      {
        "file": "favicon-32x32.png",
        "ctime": "2017-01-17T14:39:06.895Z",
        "mtime": "2017-01-17T14:39:06.895Z",
        "size": 1186
      },
      {
        "file": "favicon.ico",
        "ctime": "2017-01-17T14:39:06.877Z",
        "mtime": "2017-01-17T14:39:06.877Z",
        "size": 7406
      },
      {
        "file": "index.html",
        "ctime": "2017-01-17T22:13:21.294Z",
        "mtime": "2017-01-17T22:13:21.294Z",
        "size": 17618
      },
      {
        "file": "js/main.js",
        "ctime": "2017-01-24T18:25:53.578Z",
        "mtime": "2017-01-24T18:25:53.578Z",
        "size": 5912
      },
      {
        "file": "js/main.min.js",
        "ctime": "2017-01-24T18:25:55.756Z",
        "mtime": "2017-01-24T18:25:55.756Z",
        "size": 128046
      },
      {
        "file": "js/main.min.js.map",
        "ctime": "2017-01-24T18:25:55.721Z",
        "mtime": "2017-01-24T18:25:55.721Z",
        "size": 151152
      },
      {
        "file": "js/vendor/dexie.js",
        "ctime": "2017-01-16T20:20:10.206Z",
        "mtime": "2017-01-16T20:20:03.287Z",
        "size": 199175
      },
      {
        "file": "js/vendor/dialog-polyfill.js",
        "ctime": "2017-01-17T14:52:05.287Z",
        "mtime": "2017-01-17T14:50:59.211Z",
        "size": 17643
      },
      {
        "file": "js/vendor/jquery-3.1.1.min.js",
        "ctime": "2017-01-17T16:56:16.166Z",
        "mtime": "2017-01-17T16:55:56.596Z",
        "size": 86709
      },
      {
        "file": "js/vendor/material.js",
        "ctime": "2017-01-16T20:41:59.751Z",
        "mtime": "2017-01-16T20:19:30.849Z",
        "size": 145859
      },
      {
        "file": "manifest.json",
        "ctime": "2017-01-17T22:16:45.023Z",
        "mtime": "2017-01-17T22:16:45.023Z",
        "size": 389
      },
      {
        "file": "mstile-150x150.png",
        "ctime": "2017-01-17T14:39:06.919Z",
        "mtime": "2017-01-17T14:39:06.919Z",
        "size": 4523
      },
      {
        "file": "README.md",
        "ctime": "2017-01-17T14:15:56.362Z",
        "mtime": "2017-01-17T14:15:56.362Z",
        "size": 82
      },
      {
        "file": "robots.txt",
        "ctime": "2017-01-17T14:16:12.346Z",
        "mtime": "2017-01-16T20:07:46.099Z",
        "size": 78
      },
      {
        "file": "safari-pinned-tab.svg",
        "ctime": "2017-01-17T14:39:06.933Z",
        "mtime": "2017-01-17T14:39:06.933Z",
        "size": 1403
      },
      {
        "file": "sw.js",
        "ctime": "2017-01-25T15:34:11.800Z",
        "mtime": "2017-01-17T22:03:02.516Z",
        "size": 725
      },
      {
        "file": "_material.css",
        "ctime": "2017-01-17T14:16:12.343Z",
        "mtime": "2017-01-16T20:58:20.336Z",
        "size": 144747
      },
      {
        "file": "_material.css.map",
        "ctime": "2017-01-17T14:16:12.343Z",
        "mtime": "2017-01-16T20:58:20.330Z",
        "size": 57557
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"sourceMap\":true,\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"relative\":\"../\"},\"compiler-node-sass\":{\"outputStyle\":\"compact\"},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"sourceMap\":true,\"outputSuffix\":\".min\"}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}